*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
    overflow: hidden;
}

.corButtonWhite{
    background: #E1E5E6;
    background: -moz-linear-gradient(-45deg, #E1E5E6 0%, #EDEDED 48%, #C5C9CC 100%);
    background: -webkit-linear-gradient(-45deg, #E1E5E6 0%, #EDEDED 48%, #C5C9CC 100%);
    background: linear-gradient(135deg, #E1E5E6 0%, #EDEDED 48%, #C5C9CC 100%);
}

.corButtonWhite:hover{
    background: #a2a6a7;
}

.corButtonOutra{
    background-color: #d36d66;
}

.corButtonOutra:hover{
    background-color: #b3514a;
}

body{
    height: 100vh;
    background-color: #c95696;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color: #314559;
    padding: 20px;
    width: 300px;
    height: 553px;
    border-radius: 20px;
}

input{
    width: 100%;
    height: 120px;
    font-size: 70px;
    color: #56cb87;
    text-align: right;
}

button{
    font-size: 50px;
    width: 71px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

#n0{
    width: 147px;
}

#calcular2{
    padding-top: 10px;
}

/* #calcular{
    position: relative;
    top: 0px;
    left: 0px;
    height: 150px;
    z-index: 999;
} */

@media screen and (max-width: 1280px){
    
    /* #calcular{
        top: 524px;
        left: 717px;
    } */

}

@media screen and (max-width: 1024px){
    
    .calculadora{
        width: 338px;
        height: 578px;

    }

    /* #calcular{
        top: 802px;
        left: 589px;
    } */

}

@media screen and (max-height: 800px){
    
    .calculadora{
        width: 338px;
        height: 571px;

    }

    /* #calcular{
        top: 524px;
        left: 718px;
    } */

}

@media screen and (max-width: 768px){
    
    .calculadora{
        width: 338px;
        height: 578px;

    }

    /* #calcular{
        top: 631px;
        left: 461px;
    } */

}

/* @media screen and (max-height: 600px){
    
    #calcular{
        top: 421px;
        left: 589px;
    }

}

@media screen and (max-width: 540px){
    
    #calcular{
        top: 480px;
        left: 347px;
    }

} */

@media screen and (max-width: 414px){
    
    .calculadora{
        width: 366px;
        height: 578px;

    }

    button{
        width: 78px;
    }

    /* #calcular{
        top: 576px;
        left: 291px;
    } */

    #n0{
        width: 161px;
    }

}

/* @media screen and (max-width: 411px){
    
    #calcular{
        top: 491px;
        left: 283px;
    }

} */

@media screen and (max-width: 375px){

    .calculadora{
        width: 341px;
        height: 578px;

    }

    button{
        width: 71px;
    }

    /* #calcular{
        top: 454px;
        left: 264px;
        height: 146px;
    } */

    #n0{
        width: 147px;
    }

}

@media screen and (max-width: 360px){
    
    /* #calcular{
        top: 445px;
        left: 256px;
    } */

}

@media screen and (max-width: 280px){
   
    .calculadora{
        background-color: #314559;
        padding: 20px;
        width: 240px;
        height: 500px;
        border-radius: 20px;
    }

    button{
        font-size: 38px;
        width: 46px;
    }

    /* #calcular{
        top: 437px;
        left: 192px;
        height: 118px;
    } */

    #n0{
        width: 96px;
    }

}


